<h1>{{ "Item matches for"|t }} {{ rule.name }}</h1>
<div class="content">
    <div class="buttons">
        <a href="/admin/ite/rules/{{ rule.id }}/config/{{ fc_match.id }}/create" class="button">{{ "Create item match"|t }}</a>
    </div>

    <div class="list">
        {% if item_matches is empty %}
            <h2>{{ "Sorry, you don't have any item matches"|t }}</h2>
        {% else %}
            <table>
                <tr>
                    <th>{{ "ID"|t }}</th>
                    <th>{{ "Tid"|t }}</th>
                    <th>{{ "Term name"|t }}</th>
                    <th>{{ "String match"|t }}</th>
                    <th>{{ "Actions"|t }}</th>
                </tr>
                {% for item in item_matches %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.tid }}</td>
                        <td>{{ item.term_name }}</td>
                        <td>{{ item.string_match }}</td>
                        <td>
                            <a href="/admin/ite/rules/{{ rule.id }}/config/{{ fc_match.id }}/edit/{{ item.id }}" class="button">{{ "Edit"|t }}</a>
                            <a href="/admin/ite/rules/{{ rule.id }}/config/{{ fc_match.id }}/delete/{{ item.id }}" class="button button--danger">{{ "Delete"|t}}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

    </div>

</div>